@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 4000px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1d3557;
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 1200px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.container h1{
	font-size: 40px;
	color: #f1faee;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0 15px;
	border-left: 3px solid #e63946;
}
.stats{
	width: 100%;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.stats div{
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}
.stats div .fa-solid{
	font-size: 3.5em;
	color: #e63946;
}
.stats div span{
	color: #f1faee;
	font-weight: 100;
	font-size: 35px;
	font-style: italic;
}
.stats div p{
	text-transform: capitalize;
	position: relative;
	color: #f1faee;
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 7px;
}
.stats div p::before{
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	background-color: #e63946 ;
}
